---
layout: archive
title: Publications
permalink: /publications/
author_profile: true
---

<style>
  .pubitem {
  margin: 2em 0;
  line-height: 1em;
}

.pubtitle {
  margin-bottom: 0.5em;
  line-height: 1.2em;
  font-weight: bold;
}

.pubauthors,
.pubinfo {
  font-size: 75%;
  margin-bottom: 0.75em;
}

</style>



{% assign postsByYear = site.publications | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' | reverse %}
{% for year in postsByYear %}
  <section id="{{ year.name }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ year.name }}</h2>
    <div class="posteritem">
      {% for post in year.items %}
      <div class="pubitem">
        <div class="pubtitle">{{ post.title }}</div>
        <div class="pubauthors">{{ post.authors }}</div>
        <div class="pubinfo">{{ post.publication }}, {{ post.year}}</div>
        <a href="{{pub.link}}"><i class="fas fa-link"></i> Full paper</a>
      </div>
      {% endfor %}
    </div>
  </section>
{% endfor %}